/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common */
body{
  font-family: 'Poppins', sans-serif;
}

/* header */
header{
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: #1a1a1a;
}

.header-left, .header-right{
  height: 100%;
}

.header-left, .header-right{
  display: flex;
  align-items: center;
}

.header-left .shield, .header-left .record{
  background-color: #101010;
  border-radius: 3px;
}

.header-left .shield{
  margin: 0 10px;
  padding: 5px;
  color: #23d959;
}

.header-left .record{
  padding: 5px 15px;
  color: #ffffff;
}

.header-left .disc{
margin-right: 5px;
}

.header-right .view{
  margin-right: 20px;
  padding: 5px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #212122;
  cursor: pointer;
}

/* main */
main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 50px);
  background-color: #1a1a1a;
}

main .arrow-left, main .arrow-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 0 10px;
  width: 60px;
  height: 90px;
  border: 1px solid #000000;
  background-image: linear-gradient(#232323, #040404);
  cursor: pointer;
}

main .arrow-left > i, main .arrow-right > i{
  font-size: 50px;
  color: #2db7ff;
}

main .arrow-left .part, main .arrow-right .part{
  font-size: 12px;
  color: #626262;
}

main .main-content{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 100%;
  /* background-color: blanchedalmond; */
}

.main-content .card{
  position: relative;
  height: calc(100% / 5 - 6px);
  width: calc(100% / 5 - 6px);
  margin: 3px;
  border-radius: 5px;
  background-image: url(../img/Ugo-Fantozzi.jfif);
}

.main-content .card .name{
  position: absolute;
  bottom: 3px;
  left: 5px;
  padding: 0 10px 0 5px ;
  border-radius: 5px;
  color: #ffffff;
  background-color: #00000080;
}

.main-content .card .name > i{
  color: #ff5c5c;
}

